body {
    font-family:fantasy;
    background-color: #f7dede; 
    color: #333; 
    margin: 0;
    padding: 0;
}

.username-link {
    color: #333; 
    font-family: 'Georgia', serif; /* Complements fantasy font */
    font-size: 25px;
    
}